<%#= cl_image_tag('yd53sou7e1vjhpmr1ulk', width: 400, height: 300, crop: :fill) %>

<div class="container-md">
  <div class="row-justify-content-md-center">
    <div class="col-8">

      <h1>Welcome to Ben's cocktail bar!</h1>

      <div class="cards">

        <% @cocktails.each do |cocktail| %>

          <div class="card" style="width: 18rem;">

            <% if cocktail.photo.attached? %>
              <%= cl_image_tag(
                    cocktail.photo.key,
                    class: "card-img-top center-cover"
                  ) %>
            <% end %>

            <div class="card-body">

              <h5 class="card-title"><%= cocktail.name %></h5>

              <button type="button" class="btn btn-outline-primary">
                <%= link_to 'Details', cocktail_path(cocktail) %>
              </button>

            </div>

          </div>

        <% end %>

      </div>

    </div>

    <button class="btn btn-primary add-cocktail" type="button">
      <%= link_to 'Create new cocktail', new_cocktail_path %>
    </button>

  </div>
</div>
